.idea/
.vscode/
*.db
*.sqlite3
*.pyc
*.xml
._mac/
.codestyles/
.inspection/
*.pyo
*__pycache__
/app/settings/local.py
.DS_Store
.cache/
/.vscode/

VERSION
tmp/

*.egg-info
dist
tests-*.xml
.eggs
build
.coverage

venv
.pytest_cache
